<html>
<head>
    <link href="{{ url_for('static', filename='aboutUsPage.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('plagBetweenFiles') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadTwoInputFilesPage') }}"
            >Compute the similarity between Two queries</a
            ></li>
            <li><a href="{{url_for('plagBetweenQueryAndEnteredFile')}}">Compute the similarity between query and given
                file</a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="card">
        <h1 class="title">Designed By</h1>
        <p class="subtitle">Mohamed Motaz.</p>
        <p class="subtitle">Kareem Ezzat.</p>
        <p class="subtitle">Ali Abd-Elzaher.</p>
        <p class="subtitle">Abd-Elazim Hesham.</p>
        <p class="subtitle">Rawan Ahmed.</p>
         <p class="subtitle">Salma Tarek.</p>
    </div>
    <div class="blob"></div>
</div>
</body>
</html>