<html>
  <head>
    <link
      href="{{ url_for('static', filename='homePage.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="left">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="{{ url_for('plagBetweenFiles') }}"
              >Compute the similarity between files</a
            >
          </li>
          <li>
            <a href="{{ url_for('loadTwoInputFilesPage') }}"
              >Compute the similarity between two text inputs
            </a>
          </li>
          <li>
            <a href="{{url_for('plagBetweenQueryAndEnteredFile')}}"
              >Compute the similarity between a text input and a file</a
            >
          </li>
          <li><a href="{{url_for('about')}}">About Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <h2>Plagiarism Checker</h2>

      <p>
        We have implemented 3 types of plagiarism checkers in order to
        accomodate as many users as we can
      </p>
      <br />
      <ol>
        <li>
          <p>Checking the similarity between multiple input files</p>
        </li>
        <li>
          <p>Checking the similarity between two text inputs</p>
        </li>
        <li>
          <p>
            Checking the similarity between an input file and one text input
          </p>
        </li>
      </ol>
    </div>
  </body>
</html>
