<html>
<head>
    <link href="{{ url_for('static', filename='homePage.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('upload_file') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadPage') }}"
            >Compute the similarity between query and database file</a
            ></li>
            <li><a href="#contact">About</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <h2>Plagiarism Checker</h2>

    <p>There are two types of plagiarism checkers</p>
    <p>
        1) Plagiarism Checker system that is used to detect plagiarism in files
        using cosine similarity. To compute the similarity between all files on
        project directory , the raw data is transformed into vectors, and then
        to arrays of numbers and then used vectors to compute the similarity
        between the files and prints the percentage.
    </p>
    <p>
        2) Web application of Plagiarism Checker using Python-Flask. TF-IDF and
        cosine similarity. It checks for how similar the query is to the
        existing database file.
    </p>

    <p>Thank you.</p>
</div>
</body>
</html>
