<html>
<head>
    <link href="{{ url_for('static', filename='queryAndEnteredFilePage.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('upload_file') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadPage') }}"
            >Compute the similarity between Two queries</a
            ></li>
            <li><a href="{{url_for('plagBetweenQueryAndEnteredFile')}}">Compute the similarity between query and given
                file</a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
        </ul>
    </nav>
</div>
<div class="main">

    <form method="POST" enctype="multipart/form-data">
        <p> {{msg}} </p>

        <div class="row">
            <div class="col s12">
                <!-- Uploader Dropzone -->
                <div id="zdrop" class="fileuploader ">
                    <div id="upload-label" style="width: 200px;">
                        <i class="material-icons">cloud_upload</i>
                        <input type="file" name="file"/>
                    </div>
                </div>
                <!-- Preview collection of uploaded documents -->
                <div class="preview-container">

                    <div class="header">
                        <span>Uploaded Files</span>
                        <i id="controller" class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="collection card" id="previews">
                        <div class="collection-item clearhack valign-wrapper item-template" id="zdrop-template">
                            <div class="left pv zdrop-info" data-dz-thumbnail>
                                <div>
                                    <span data-dz-name></span> <span data-dz-size></span>
                                </div>
                                <div class="progress">
                                    <div class="determinate" style="width:0" data-dz-uploadprogress></div>
                                </div>
                                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                            </div>
                            <div class="secondary-content actions">
                                <a href="#!" data-dz-remove
                                   class="btn-floating ph red white-text waves-effect waves-light"><i
                                        class="material-icons white-text">clear</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <form method="POST">
            <p>Input Text : </p>
            <p><textarea name="query" rows="8" cols="50" autofocus>{{query}}</textarea></p>

            <button class="btn" style="vertical-align:middle"><span>Submit</span></button>
            <input class="sub" type="submit" value="Show Results" name="action2"/>
            <p>
            <h3>{{output}}</h3></p>
        </form>
        <br/>
    </form>
</div>
<div>
</div>
</body>
</html>