<html>
<head>
    <link href="{{ url_for('static', filename='queryAndDatabasePage.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('upload_file') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadPage') }}"
            >Compute the similarity between query and database file</a
            ></li>
            <li><a href="{{url_for('plagBetweenQueryAndEnteredFile')}}">Compute the similarity between query and given
                file</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <form class="mian" action="http://localhost:5000" method="POST">
        <p>Input Text : </p>
        <p><textarea name="query" rows="8" cols="50" autofocus>{{query}}</textarea></p>
        <br>
        <button class="btn" style="vertical-align:middle"><span>Check Plagiarism </span></button>
        <br>
        <p>
        <h3>{{output}}</h3></p>
    </form>
</div>
</body>
</html>
