<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('upload_file') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadPage') }}"
            >Compute the similarity between query and database file</a
            ></li>
            <li><a href="#contact">About</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <ul>
        {% for i in plagiarismRes %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
