<html>
<head>
    <link href="{{ url_for('static', filename='twoQueriesPage.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('plagBetweenFiles') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadTwoInputFilesPage') }}"
            >Compute the similarity between two text inputs </a
            ></li>
            <li><a href="{{url_for('plagBetweenQueryAndEnteredFile')}}">Compute the similarity between a text input and a file</a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <form class="mian" action="{{url_for('plagBetweenTwoInputQueries')}}" method="POST">
        <p style="color: red;"> {{warningMessage}} </p>
        <p style="color: black;"> {{greetingMessage}} </p>
        <p>Input Text : </p>
        <p><textarea name="query1" rows="8" cols="50" autofocus>{{query1}}</textarea></p>
        <br>
        <p><textarea name="query2" rows="8" cols="50" autofocus>{{query2}}</textarea></p>
        <button class="btn" style="vertical-align:middle"><span> Submit </span></button>
        <br>
        <p>
        <h3>{{output}}</h3></p>
    </form>
</div>
</body>
</html>
