<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="left">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('upload_file') }}"
            >Compute the similarity between files</a
            ></li>
            <li><a href="{{ url_for('loadPage') }}"
            >Compute the similarity between query and database file</a
            ></li>
            <li><a href="#contact">About</a></li>
        </ul>
    </nav>
</div>
<div class="main">
    <form
            action="/upload_file"
            method="POST"
            enctype="multipart/form-data"
    ><p> {{msg}}</p>
    <div class="row">
		<div class="col s12">
			<!-- Uploader Dropzone -->
			<div id="zdrop" class="fileuploader ">
				<div id="upload-label" style="width: 200px;">
					<i class="material-icons">cloud_upload</i>
                    <input type="file" name = "file_name" multiple />
				</div>
			</div>
			<!-- Preview collection of uploaded documents -->
			<div class="preview-container">
				<div class="header">
					<span>Uploaded Files</span>	
					<i id="controller" class="material-icons">keyboard_arrow_down</i>
				</div>
				<div class="collection card" id="previews">
					<div class="collection-item clearhack valign-wrapper item-template" id="zdrop-template">
						<div class="left pv zdrop-info" data-dz-thumbnail>
							<div>
								<span data-dz-name></span> <span data-dz-size></span>
							</div>
							<div class="progress">
								<div class="determinate" style="width:0" data-dz-uploadprogress></div>
							</div>
							<div class="dz-error-message"><span data-dz-errormessage></span></div>
						</div>

						<div class="secondary-content actions">
							<a href="#!" data-dz-remove class="btn-floating ph red white-text waves-effect waves-light"><i class="material-icons white-text">clear</i></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
        <button class="button">Submit</button>
        <br/>
        <input type="submit" value="Show Results" name="action1"/>
    </form>
</div>
</body>
</html>
